<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/basblankizdat_app.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <header>
        <div class="header-top">
<<<<<<< HEAD
        </div>
        <div class="header-middle">
            <img src="images/logo-text.svg">
            <div>
                <button class="header-menu">
                    <div>
                        <img src="images/icons/Menu-material.svg"/>
                    </div>
                    <div class="text-centered">
                        <p class="text-centered">Каталог</p>
                    </div>
                </button>
            </div>
        </div>
    </header>    <div class="container">
=======

        </div>
        <div class="header-middle">
            <div class="logo-menu">
                <img src="/БАШБЛАНКИЗДАТ.png"></img>
                <ul class="logo-menu">
                    <li>Каталог</li>

                </ul>

            </div>
        </div>
    </header>
    <div class="container">
>>>>>>> 6b710a2459ce0ee56df6a80e900c3dd555958eb7
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - basblankizdat_app - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
