.header-top{
    display: flex;
    flex-direction: row;
}

.header-middle {
    display: flex;
    flex-direction: row;
    background-color: rgba(81, 114, 152, 1);
    padding:5px;
}

img.logo{
    right:5px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 0px;
    align-items:center;
    justify-items:center;
}

.text-centered {
    position: relative;
    top:4px;
    left: 3px;
    font-size: 20px;
    color:white;
    font-weight: 600;
}

p {
    font-family: 'Lato', sans-serif;
}