header {
    background-color: rgba(81, 114, 152, 1);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        width: 90%;
        margin-right: 10px;
        margin-left: 10px;
    }

nav {
    display: flex;
}

    nav a {
        color: transparent;
        text-decoration: none;
        margin-right: 20px;
    }
